.root {
  position: relative;
  width: 24px;
  height: 24px;
  align-items: flex-start;
}
.vector2 {
  position: absolute;
  left: 12.5%;
  right: 12.5%;
  top: 12.5%;
  bottom: 12.5%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.vector3 {
  position: absolute;
  left: 31.25%;
  right: 59.375%;
  top: 37.5%;
  bottom: 53.125%;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.vector4 {
  position: absolute;
  left: 59.375%;
  right: 31.25%;
  top: 37.5%;
  bottom: 53.125%;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.vector5 {
  position: absolute;
  left: 33.75%;
  right: 33.75%;
  top: 59.375%;
  bottom: 31.2681%;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
