.smiley.smiley {
  width: 48px;
  height: 48px;
}
.vector.vector {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: visible;
}
.vector2.vector2 {
  left: 12.4999%;
  right: 12.5001%;
  top: 12.4986%;
  bottom: 12.5014%;
}
.vector2 {
  left: 12.4999%;
  right: 12.5001%;
  top: 12.4986%;
  bottom: 12.5014%;
}
.icon {
  width: 100%;
  height: 100%;
}
.vector3.vector3 {
  top: 37.4993%;
  bottom: 53.1257%;
}
.vector3 {
  top: 37.4993%;
  bottom: 53.1257%;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.vector4.vector4 {
  left: 59.3749%;
  right: 31.2501%;
  top: 37.4993%;
  bottom: 53.1257%;
}
.vector4 {
  left: 59.3749%;
  right: 31.2501%;
  top: 37.4993%;
  bottom: 53.1257%;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.vector5.vector5 {
  left: 33.7499%;
  right: 33.7501%;
  top: 59.3736%;
  bottom: 31.2695%;
}
.vector5 {
  left: 33.7499%;
  right: 33.7501%;
  top: 59.3736%;
  bottom: 31.2695%;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.vector6.vector6 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.vector7.vector7 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.fSU.fSU {
  gap: 10px;
}
.heading.heading {
  gap: 4px;
}
._2021Present {
  color: #1777e5;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.bachelorOfEngineeringBEng {
  color: #121314;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 424px;
  height: min-content;
  flex-direction: column;
}
.bachelorSDegreeInComputerScien {
  color: #5e6971;
  font-size: 16px;
  line-height: 26px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 356px;
  height: min-content;
  flex-direction: column;
}
.tCC.tCC {
  gap: 10px;
}
.heading2.heading2 {
  gap: 4px;
}
._2021Present2 {
  color: #1777e5;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.bachelorOfEngineeringBEng2 {
  color: #121314;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 424px;
  height: min-content;
  flex-direction: column;
}
.bachelorSDegreeInComputerScien2 {
  color: #5e6971;
  font-size: 16px;
  line-height: 26px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 356px;
  height: min-content;
  flex-direction: column;
}
.education.education {
  gap: 10px;
}
.heading3.heading3 {
  gap: 4px;
}
._2021Present3 {
  color: #ff5f49;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed {
  color: #ff5f49;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.oxfordUniversity {
  color: #ff5f49;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.bachelorOfEngineeringBEng3 {
  color: #121314;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 424px;
  height: min-content;
  flex-direction: column;
}
.bachelorSDegreeInComputerScien3 {
  color: #5e6971;
  font-size: 16px;
  line-height: 26px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 356px;
  height: min-content;
  flex-direction: column;
}
.education2.education2 {
  gap: 10px;
}
.heading4.heading4 {
  gap: 4px;
}
._2021Present4 {
  color: #ff5f49;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed2 {
  color: #ff5f49;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.oxfordUniversity2 {
  color: #ff5f49;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.bachelorOfEngineeringBEng4 {
  color: #121314;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 424px;
  height: min-content;
  flex-direction: column;
}
.bachelorSDegreeInComputerScien4 {
  color: #5e6971;
  font-size: 16px;
  line-height: 26px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 356px;
  height: min-content;
  flex-direction: column;
}
.education3.education3 {
  gap: 10px;
}
.heading5.heading5 {
  gap: 4px;
}
._2021Present5 {
  color: #ff5f49;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed3 {
  color: #ff5f49;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.oxfordUniversity3 {
  color: #ff5f49;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.bachelorOfEngineeringBEng5 {
  color: #121314;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 424px;
  height: min-content;
  flex-direction: column;
}
.bachelorSDegreeInComputerScien5 {
  color: #5e6971;
  font-size: 16px;
  line-height: 26px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 356px;
  height: min-content;
  flex-direction: column;
}
.solidBrandsSlack.solidBrandsSlack {
  right: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.icon11 {
  width: 100%;
  height: 100%;
}
.solidBrandsAdobeIllustrator.solidBrandsAdobeIllustrator {
  right: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.vector8.vector8 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: visible;
}
.icon12 {
  width: 100%;
  height: 100%;
}
.icon13 {
  width: 100%;
  height: 100%;
}
.icon14 {
  width: 100%;
  height: 100%;
}
.root {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.header {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 88px;
  padding: 0 0 72px;
}
.navigation {
  width: 1920px;
  height: min-content;
  place-content: space-between;
  align-items: center;
  padding: 32px 300px;
}
.logo {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 12px;
}
.conner {
  color: #121314;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.navItem {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 32px;
}
.home {
  color: #121314;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.about {
  color: #7b848b;
  font-size: 18px;
  line-height: 26px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.work {
  color: #7b848b;
  font-size: 18px;
  line-height: 26px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.contact {
  color: #7b848b;
  font-size: 18px;
  line-height: 26px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.button {
  width: min-content;
  height: min-content;
  padding: 0 24px;
  border-radius: 4px;
  background-image: linear-gradient(90deg, #9249f2ff 0%, #ff5f49ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.conoaksGmailCom {
  color: #121314;
  font-size: 18px;
  line-height: 56px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame552 {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 136px;
}
.rectangle34 {
  width: 536px;
  height: 536px;
  border-radius: 16px;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle34.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.heading6 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.frame43 {
  width: min-content;
  height: min-content;
  place-content: center;
  align-items: center;
  gap: 24px;
}
.devider {
  width: 88px;
  height: 2px;
  background-color: #1777e5;
}
.techEnthusiast {
  color: #1777e5;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.helloIMConnerOaks {
  width: 648px;
  height: min-content;
  flex-direction: column;
}
.textBlock {
  color: #121314;
  font-size: 80px;
  line-height: 80px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #121314;
  font-size: 80px;
  line-height: 80px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.iMACurrentFloridaStateUniversi {
  color: #485057;
  font-size: 23px;
  line-height: 36px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 648px;
  height: min-content;
  flex-direction: column;
}
.button2 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 16px;
}
.button3 {
  width: min-content;
  height: min-content;
  padding: 0 32px;
  border-radius: 4px;
  background-color: #1777e5;
}
.sayHello {
  color: #fff;
  font-size: 18px;
  line-height: 64px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.button4 {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 12px;
  padding: 0 32px;
  border-radius: 4px;
  background-color: #f5f6f7;
}
.sayHello2 {
  color: #121314;
  font-size: 18px;
  line-height: 64px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.devider2 {
  width: 1320px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #dfe3e5;
  margin-bottom: -1px;
}
.about2 {
  position: relative;
  width: 1920px;
  height: 1188px;
  align-items: flex-start;
}
.bG {
  position: absolute;
  left: 0;
  top: 156px;
  width: 1920px;
  height: 870px;
  background-color: #f5f6f7;
  background-image: linear-gradient(180deg, #ffffffeb 0%, #ffff 100%), /* webpackIgnore: true */ url('/assets/bG.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto, cover;
}
.about3 {
  position: absolute;
  left: 300px;
  top: 0;
  width: 1320px;
  height: min-content;
  align-items: center;
  gap: 40px;
  padding: 56px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0px 48px 148px 0px #12131414;
}
.image {
  width: 192px;
  height: 192px;
  overflow: visible;
}
.icon15 {
  width: 100%;
  height: 100%;
}
.content2 {
  height: min-content;
  flex: 1;
  flex-direction: column;
  gap: 20px;
}
.visualDesignerWebflowDeveloper {
  color: #121314;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.drivenITEnthusiastWithALoveOf3 {
  color: #485057;
  font-size: 20px;
  line-height: 36px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.button5 {
  width: 264px;
  height: min-content;
  flex-direction: column;
}
.button6 {
  height: min-content;
  align-self: stretch;
  place-content: center;
  align-items: center;
  gap: 12px;
  padding: 0 32px;
  border-radius: 4px;
  background-color: #f5f6f7;
}
.sayHello3 {
  color: #121314;
  font-size: 18px;
  line-height: 64px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.resume {
  position: absolute;
  left: 300px;
  top: 376px;
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 24px;
}
.education4 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
}
.heading7 {
  width: 424px;
  height: min-content;
  align-items: center;
  gap: 16px;
}
.rectangle8 {
  width: 32px;
  height: 2px;
  background-color: #1777e5;
}
.education5 {
  color: #1777e5;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.workHistory {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
}
.heading8 {
  width: 424px;
  height: min-content;
  align-items: center;
  gap: 16px;
}
.rectangle82 {
  width: 32px;
  height: 2px;
  background-color: #ff5f49;
}
.workHistory2 {
  color: #ff5f49;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.toolUse {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
}
.heading9 {
  width: 424px;
  height: min-content;
  align-items: center;
  gap: 16px;
}
.rectangle83 {
  width: 32px;
  height: 2px;
  background-color: #2db24a;
}
.toolsIUSE {
  color: #2db24a;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.tools {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.row {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 20px;
}
.tools2 {
  width: 128px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 24px 0;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 8px 24px 0px #1213140a;
}
.tool {
  position: relative;
  width: 40px;
  height: 40px;
  align-items: flex-start;
}
.slack {
  color: #121314;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.tools3 {
  width: 128px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 24px 0;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 8px 24px 0px #1213140a;
}
.tool2 {
  position: relative;
  width: 40px;
  height: 40px;
  align-items: flex-start;
  overflow: hidden;
}
.image2 {
  position: absolute;
  left: 19.4444%;
  right: 22.2222%;
  top: 5.5556%;
  bottom: 5.5556%;
  background-image:/* webpackIgnore: true */ url('/assets/image2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.slack2 {
  color: #121314;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.tools4 {
  width: 128px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 24px 0;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 8px 24px 0px #1213140a;
}
.tool3 {
  position: relative;
  width: 40px;
  height: 40px;
  align-items: flex-start;
}
.image6 {
  position: absolute;
  left: 11.1111%;
  right: 11.1111%;
  top: 11.1111%;
  bottom: 11.1111%;
  background-image:/* webpackIgnore: true */ url('/assets/image6.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.slack3 {
  color: #121314;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.row2 {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 20px;
}
.tools5 {
  width: 128px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 24px 0;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 8px 24px 0px #1213140a;
}
.tool4 {
  position: relative;
  width: 40px;
  height: 40px;
  align-items: flex-start;
}
.image3 {
  position: absolute;
  left: 8.3333%;
  right: 8.3333%;
  top: 8.3333%;
  bottom: 8.3333%;
  background-image:/* webpackIgnore: true */ url('/assets/image3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.slack4 {
  color: #121314;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.tools6 {
  width: 128px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 24px 0;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 8px 24px 0px #1213140a;
}
.tool5 {
  position: relative;
  width: 40px;
  height: 40px;
  align-items: flex-start;
}
.image4 {
  position: absolute;
  left: 11.1111%;
  right: 11.1111%;
  top: 11.1111%;
  bottom: 11.1111%;
  background-image:/* webpackIgnore: true */ url('/assets/image4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.slack5 {
  color: #121314;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.tools7 {
  width: 128px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 24px 0;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 8px 24px 0px #1213140a;
}
.tool6 {
  position: relative;
  width: 40px;
  height: 40px;
  align-items: flex-start;
}
.image5 {
  position: absolute;
  left: 11.1111%;
  right: 11.1111%;
  top: 11.1111%;
  bottom: 11.1111%;
  background-image:/* webpackIgnore: true */ url('/assets/image5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.slack6 {
  color: #121314;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.row3 {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 20px;
}
.tools8 {
  width: 128px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 24px 0;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 8px 24px 0px #1213140a;
}
.tool7 {
  position: relative;
  width: 40px;
  height: 40px;
  align-items: flex-start;
}
.image7 {
  position: absolute;
  left: 11.1111%;
  right: 11.1111%;
  top: 11.1111%;
  bottom: 11.1111%;
  background-image:/* webpackIgnore: true */ url('/assets/image7.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slack7 {
  color: #121314;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.tools9 {
  width: 128px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 24px 0;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 8px 24px 0px #1213140a;
}
.tool8 {
  width: 40px;
  height: 40px;
  overflow: visible;
}
.icon16 {
  width: 100%;
  height: 100%;
}
.slack8 {
  color: #121314;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.devider3 {
  width: 1320px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #dfe3e5;
  margin-bottom: -1px;
}
.awards {
  width: 1920px;
  height: 705px;
  place-content: space-between;
  align-items: center;
  padding: 164px 300px;
}
.cards {
  width: 556px;
  height: min-content;
  flex-direction: column;
  gap: 32px;
}
.card {
  height: min-content;
  align-self: stretch;
  align-items: center;
  gap: 24px;
  padding: 32px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 24px 88px -16px #1213140f;
}
.icon17 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  padding: 23px;
  background-color: #f5f6f7;
}
.w {
  color: #121314;
  font-size: 36px;
  line-height: 64px;
  font-weight: 500;
  font-family: Helvetica Neue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 64px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.content3 {
  height: min-content;
  flex: 1;
  flex-direction: column;
  gap: 6px;
}
.awwwardsJudge1920 {
  color: #121314;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.awwwardsIsAProfessionalWebDesi {
  color: #5e6971;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.card2 {
  height: min-content;
  align-self: stretch;
  align-items: center;
  gap: 24px;
  padding: 32px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 24px 88px -16px #1213140f;
}
.icon18 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  padding: 23px;
  background-color: #f5f6f7;
}
.unnamed4 {
  color: #121314;
  font-size: 36px;
  line-height: 64px;
  font-weight: 500;
  font-family: Helvetica Neue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 64px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.content4 {
  height: min-content;
  flex: 1;
  flex-direction: column;
  gap: 6px;
}
.siteOfTheYearsForLewis {
  color: #121314;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.lewisUniversityOffersPractical {
  color: #5e6971;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.content5 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.heading10 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.myAchievments {
  color: #121314;
  font-size: 48px;
  line-height: 56px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 648px;
  height: min-content;
  flex-direction: column;
}
.sedSemperFelisAtFacilisisAucto {
  color: #5e6971;
  font-size: 18px;
  line-height: 26px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 648px;
  height: min-content;
  flex-direction: column;
}
.languageICanSpeak {
  width: 648px;
  height: min-content;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  border-radius: 3px;
  background-color: #f5f6f7;
}
.languageICanSpeak2 {
  color: #121314;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.row4 {
  height: min-content;
  align-self: stretch;
  align-items: flex-start;
  gap: 20px;
}
.english {
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.list {
  font-size: 20px;
}
.list ::marker {
  color: #1777e5;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock3 {
  color: #1777e5;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.mandarin {
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.list2 {
  font-size: 20px;
}
.list2 ::marker {
  color: #9249f2;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock4 {
  color: #9249f2;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.spanish {
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.list3 {
  font-size: 20px;
}
.list3 ::marker {
  color: #2db24a;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock5 {
  color: #2db24a;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.hindi {
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.list4 {
  font-size: 20px;
}
.list4 ::marker {
  color: #ff5f49;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock6 {
  color: #ff5f49;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.devider4 {
  width: 1320px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #dfe3e5;
  margin-bottom: -1px;
}
.footer {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
}
.cTA {
  width: min-content;
  height: min-content;
  flex-direction: column;
  place-content: center;
  align-items: center;
  gap: 64px;
  padding: 164px 300px;
  background-image:/* webpackIgnore: true */ url('/assets/cTA.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.haveAProjectIdeaInMindGetInTou {
  width: 1320px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.textBlock7 {
  color: #121314;
  font-size: 48px;
  line-height: 56px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock8 {
  margin-top: 0;
  color: #121314;
  font-size: 48px;
  line-height: 56px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.frame497 {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 24px;
}
.frame494 {
  width: 312px;
  height: min-content;
  flex-direction: column;
  place-content: center;
  align-items: center;
  gap: 24px;
}
.send {
  width: 40px;
  height: 40px;
}
.icon19 {
  width: 100%;
  height: 100%;
}
.content6 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  place-content: center;
  gap: 8px;
}
.emailAddress {
  color: #5e6971;
  font-size: 16px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.howardstarkInfoCom {
  color: #121314;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.frame495 {
  width: 312px;
  height: min-content;
  flex-direction: column;
  place-content: center;
  align-items: center;
  gap: 24px;
}
.calling {
  width: 40px;
  height: 40px;
}
.icon20 {
  width: 100%;
  height: 100%;
}
.content7 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  place-content: center;
  gap: 8px;
}
.phoneNumber {
  color: #5e6971;
  font-size: 16px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
._406555120 {
  color: #121314;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.frame496 {
  width: 312px;
  height: min-content;
  flex-direction: column;
  place-content: center;
  align-items: center;
  gap: 24px;
}
.freelancer {
  width: 40px;
  height: 40px;
}
.icon21 {
  width: 100%;
  height: 100%;
}
.content8 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  place-content: center;
  gap: 8px;
}
.availableOnFiverr {
  color: #5e6971;
  font-size: 16px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.howardStark123 {
  color: #121314;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.button7 {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 12px;
  padding: 0 32px;
  border-radius: 4px;
  background-color: #1777e5;
}
.sayHello4 {
  color: #fff;
  font-size: 18px;
  line-height: 64px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.copyrights {
  width: min-content;
  height: min-content;
  padding: 32px 300px;
}
.allContent2024ConnerOaks {
  color: #5e6971;
  font-size: 18px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 1320px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
